body{
    text-align: center;
    padding: 5rem;
    transition: background 0.3s linear, color 0.3s linear;
}
body.dark{
    background-color:#1f1f1f;
    color: whitesmoke;
}
input[type="checkbox"]{
    filter: invert(100%) hue-rotate(18deg) brightness(1.2);
    width: 100px;
    height: 100px;
}